* {
  font-family: "Playfair Display", serif;
}

.grid-container{
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 40px 40px;
    background-color: beige;
    gap: 10px;
    
}
.grid-item{
    background-color: aqua;
}
#one{
    grid-row-start: 1;
    grid-row-end:-1;
}